.weather {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;

}
.background{
  background-size: cover;
  background-color: #282c34;
}
.search {
  background-color: #282c34;
  padding-top: 3vh;

}
.icon {
  display: inline;
  position: relative;
  top: 32px;
  left: 10px;

}
.text{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}